<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HerePlatform.Demo</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <h6 class="px-3 mt-3 mb-1 text-muted text-uppercase" style="font-size:.7rem">Map Basics</h6>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="map-basic">
                Basic Map
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="map-controls">
                Map Controls
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="map-enhancements">
                Enhancements
            </NavLink>
        </div>

        <h6 class="px-3 mt-3 mb-1 text-muted text-uppercase" style="font-size:.7rem">Map Objects</h6>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="map-markers">
                Markers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="map-shapes">
                Shapes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="map-infobubble">
                InfoBubble
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="map-groups">
                Groups
            </NavLink>
        </div>

        <h6 class="px-3 mt-3 mb-1 text-muted text-uppercase" style="font-size:.7rem">Data &amp; Visualization</h6>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="map-clustering">
                Clustering
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="map-data">
                Data Import
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="map-heatmap">
                Heatmap
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="map-traffic">
                Traffic
            </NavLink>
        </div>

        <h6 class="px-3 mt-3 mb-1 text-muted text-uppercase" style="font-size:.7rem">Services</h6>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="map-routing">
                Routing
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="map-geocoding">
                Geocoding
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="map-autosuggest">
                Autosuggest
            </NavLink>
        </div>

        <h6 class="px-3 mt-3 mb-1 text-muted text-uppercase" style="font-size:.7rem">UI &amp; Utilities</h6>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="map-ui-controls">
                UI Controls
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="map-utilities">
                Utilities
            </NavLink>
        </div>
    </nav>
</div>
